Ola, {{ nome }}!

Você criou uma conta no nosso sistema, mas ainda precisa confirmar seu endereço de e-mail.

Para confirmar seu e-mail, clique no link abaixo:

{{ app_config["APP_BASE_URL"] }}{{ url }}