{% from 'bootstrap5/form.html' import render_form %}
{% extends "layout.jinja2" %}
{% block card_col %}col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9{% endblock %}
{% block content %}
    {{ render_form(form, novalidate=True) }}
{% endblock %}
{% block footer %}
    <div class="text-center">
        Não tem uma conta? <a href="{{ url_for('auth.register') }}" class="text-dark">Crie uma!</a>
    </div>
    <div class="text-center">
        <a href="#" class="text-dark">Esqueceu a senha?</a>
    </div>
{% endblock %}